<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
     <typeAliases>     	
	   	<!-- 매퍼 VO 작성 간결화  -->
   		<typeAlias type="com.to.t1.member.MemberVO" alias="MemberVO"/>  
     	<typeAlias type="com.to.t1.member.JoinFileVO" alias="JoinFileVO"/>
		<typeAlias type="com.to.t1.product.ProductVO" alias="ProductVO"/>
 		<typeAlias type="com.to.t1.product.ProfilesVO" alias="ProfilesVO"/>
 		<typeAlias type="com.to.t1.notice.NoticeVO" alias="NoticeVO"/>    
 		<typeAlias type="com.to.t1.notice.NoticeFileVO" alias="NoticeFileVO"/>    	
     </typeAliases>
   </configuration>